<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>동-방</title>
	

	<meta name="description" content="LERAMIZ Landing Page Template">
	<meta name="keywords" content="LERAMIZ, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon" />

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/animate.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="css/style.css" />


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<% include ./header %>
	<!-- Header section end -->


	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
		<div class="container text-white">
			<h2>매물정보</h2>
		</div>
	</section>
	<!--  Page top end -->

	<!-- Breadcrumb -->
	<div class="site-breadcrumb">
		<div class="container">
			
		</div>
	</div>


	<!-- page -->
	<section class="page-section categories-page">
		<div class="container">
			<div class="row">
				<% if(board) {
					for(var i=0;i <board.length ; i++) { %>
					<div class="col-lg-4 col-md-6">
						<!-- feature -->											
						<div class="feature-item">
							<div class="feature-pic set-bg" data-setbg="img/feature/1.jpg">
								<div class="sale-notic"><%- board[i].type %></div>
							</div>
							<div class="feature-text">
								<div class="text-center feature-title">
									<h5><%- board[i].title%></h5>
									<p><i class="fa fa-map-marker"></i> <%- board[i].location%></p>
								</div>
								<div class="room-info-warp">
									<div class="room-info">
										<div class="rf-left">
											<p><i class="fa fa-th-large"></i> <%- board[i].room_area%></p>
											<p><i class="fa fa-clock-o"></i> <%- board[i].date%></p>
										</div>
										<div class="rf-right">
											<% if (board[i].car == "unable") %>
												<p><i class="fa fa-car"></i> 주차불가</p>
											<% else>
											<p><i class="fa fa-car"></i> 주차가능</p>
										</div>
									</div>
									<div class="room-info">
										<div class="rf-left">
											<p><i class="fa fa-user"></i> 동국대학교</p>
										</div>
									</div>
								</div>
								<a href="#" class="room-price"> <%- board[i].price%></a>
							</div>
						</div>
					</div>
				<% }} %>

			</div>
			
		</div>
	</section>
	<!-- page end -->


	<!-- Clients section -->
	<% include ./client %>
	<!-- Clients section end -->


	<!-- Footer section -->
	<% include ./footer %>
	<!-- Footer section end-->

	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/magnific-popup.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>